:root{
    --first-color:#f7f3f5;
    --second-color:#e2c2b3;
    --third-color:#687477;
    --fourth-color:#403234;
    --white:white;
  }
.popular{
    border-bottom: 3px solid var(--third-color);
}
.popular:hover{
    cursor: pointer;
}
.pipe{
    overflow-x:overlay;
}